@font-face {
    font-family: Poppins;
    src: url('./poppins/Poppins-Regular.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
#cont {
    display: flex;
    /*justify-content: center;
    align-items: center;*/
    height: 200px;
    font-weight: 600;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
#topC {
    padding-top: 20px;
    height: 180px;
    background-color: rgba(235, 235, 235, 0.944);
    /*flex: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.149);
    z-index: 2;
}
#popUp {
    position: absolute; 
    top: 30%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.149);
    border-radius: 12px;
    width: 280px;
    padding: 20px 30px;

    transition: opacity 0.2s ease-in-out,
                visibility 0.3s ease-in-out,
                transform 0.1s ease-in-out;
}
.inactive {
    /* display: none; */
    opacity: 0;  
    visibility: hidden; 
    transform: translate(-50%, -50%) scale(1.5);
}
.active {
    /* display: block; */
    opacity: 1;
    visibility: visible;
    transform :translate(-50%, -50%) scale(1);
}
#addBook {
    position: absolute; 
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#addBook button {
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: #071d6760;
}
#closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: rgb(255, 162, 162);
    border-radius:5px ;
    text-align: center;
    line-height: 17px;
    cursor: pointer;
}
#form h3 {
    text-align: center;
    margin: 10px 0px 20px;
    font-size: 26px;
}
.form-elemnt {
    margin: 15px 0px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type="text"], input[type="number"] {
  display: block; 
  margin-top: 2px; 
  width: 100%;
}
#form button {
    padding: 10px 20px;
    width: 100%;
    font-weight: 600;
    font-size: 15px;
}
#shelf {
    height: 100%;
    background: rgb(152, 168, 183);
    padding: 25px;
    overflow: auto;
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;

}
.shelfCard {
    background: rgba(239, 239, 239, 0.919);
    width: 220px;
    height: 170px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.149);
}
.readBtn, .removeBtn {
    width: 95%;
    border: none;
    border-radius: 8px;
    height: 30px;
}
.removeBtn {
    background-color: rgb(187, 187, 187);
}
.red {
    background: rgba(192, 62, 62, 0.737);
}
.green {
    background: rgba(91, 195, 91, 0.675);
}

.error {
    width: 100%;
    padding: 0;
    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}